.latest {
  padding: 1.5rem 0;
}

.latest-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.latest-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  a {
    margin-left: auto;
  }
}