// External dependencies
@import "bootstrap-icons/font/bootstrap-icons.css";

// Global settings and base styles
@import "partials/base";

// Layout and primary sections
@import "partials/header-section";
@import "partials/footer-section";

// Page-specific sections
@import "partials/hero-section";
@import "partials/catgegory-section";
@import "partials/latest-section";
@import "partials/recipe-card-section";
@import "partials/recipe-section";
@import "partials/submit-section";
@import "partials/search-section";

.container {
  padding: 0 1em;
  background-color: var(--container-bg);
  box-shadow: 0 0.5rem 11rem var(--shadow-color);
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #dee2e6;
}

.logo-container img {
  width: 229px;
  height: 68px;
}

.nav-container {
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 0;
  margin: 0;
}

.nav-link {
  padding: 0 1rem;
  color: var(--bs-dark);
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.breadcrumb-item {
  margin-right: 0.5rem;
}

.breadcrumb-item::after {
  content: "/";
  margin-left: 0.5rem;
}

.breadcrumb-item:last-child::after {
  content: "";
}

.breadcrumb-item a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb-item.active {
  color: #6c757d;
}